<section class="g-posts">
    {% if site.categories.[include.param].size == nil %}
    <span style="white-space: pre;line-height: 0;font-family: monospace;">
 _
| |__ _ _ __ _
| '_ \| | | |/ _` |
| |_) | |_| | (_| |
|_.__/ \__,_|\__, |
             |___/
    </span>
    <p class="no-article">无相应文章~</p>
    {% endif %}
    {% for post in site.categories.[include.param] %}
    <article class="post-item">
        <h2 class="post-title f-tac">
            <a class="f-links-x black" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                {{ post.title }}
            </a>
        </h2>
        <h3 class="post-source f-tac">
            <span class="iconfont icon-time"></span>
            <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: '%F' }}</time>
            {% if post.categories.size > 0 %}
            &nbsp;<span class="iconfont icon-fenlei"></span>
            <div class="cat f-dib">
                {% for cat in post.categories %}
                <span>{{cat}}</span>
                {% endfor %}
            </div>
            {% endif%}
            {% if post.tags.size > 0 %}
            &nbsp;<span class="iconfont icon-tag"></span>
            <div class="tags f-dib">
                {% for tag in post.tags %}
                <span>{{tag}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </h3>
        <div>{{ post.excerpt | excerpt_separator:"" }}</div>
        <div class="post-read f-tac">
            <a class="btn" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">阅读全文<span
                    class="iconfont icon-arrowright"></span></a>
        </div>
    </article>
    {% endfor %}
</section>